<table class="table">
    <thead>
        <tr>
            <th>Codi</th>
            <th>Nom comercial</th>
            <th>CIF</th>
            <th>Població</th>
            <th>Telèfon</th>
            <th>Més detalls</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
        <tr>
            <td>
                {{ llibre.codi_client }}
            </td>
            <td>
                {{ llibre.nom_comercial }}
            </td>
            <td>
                {{ llibre.cif }}
            </td>
            <td>
                {{ llibre.poblacio }}
            </td>
            <td>
                {{ llibre.telefon }}
            </td>
            <td>
                <a href="{% url 'detall_client' client.codi_client %}" class="btn btn-secondary">Veure</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No hi ha clients actius.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'crear_client' %}" class="btn btn-primary">Veure</a>